.idea
__pycache__

/output/
_markdown_project

/texts/dissertation/drafts/*.aux
/texts/dissertation/drafts/*.bbl
/texts/dissertation/drafts/*.blg
/texts/dissertation/drafts/*.log
/texts/dissertation/drafts/*.out
/texts/dissertation/drafts/*.synctex.gz

/texts/dissertation/attachments/docs/install/*.aux
/texts/dissertation/attachments/docs/install/*.bbl
/texts/dissertation/attachments/docs/install/*.blg
/texts/dissertation/attachments/docs/install/*.log
/texts/dissertation/attachments/docs/install/*.out
/texts/dissertation/attachments/docs/install/*.synctex.gz

/texts/dissertation/attachments/docs/maintenance/*.aux
/texts/dissertation/attachments/docs/maintenance/*.bbl
/texts/dissertation/attachments/docs/maintenance/*.blg
/texts/dissertation/attachments/docs/maintenance/*.log
/texts/dissertation/attachments/docs/maintenance/*.out
/texts/dissertation/attachments/docs/maintenance/*.synctex.gz

/texts/poster/*.aux
/texts/poster/*.bbl
/texts/poster/*.blg
/texts/poster/*.log
/texts/poster/*.out
/texts/poster/*.synctex.gz

/texts/article/*.aux
/texts/article/*.bbl
/texts/article/*.blg
/texts/article/*.log
/texts/article/*.out
/texts/article/*.synctex.gz

/texts/dissertation/final/*.aux
/texts/dissertation/final/*.bbl
/texts/dissertation/final/*.blg
/texts/dissertation/final/*.log
/texts/dissertation/final/*.lof
/texts/dissertation/final/*.out
/texts/dissertation/final/*.lot
/texts/dissertation/final/*.toc
/texts/dissertation/final/*.synctex.gz

/texts/qualify/*.aux
/texts/qualify/*.bbl
/texts/qualify/*.blg
/texts/qualify/*.log
/texts/qualify/*.out
/texts/qualify/*.synctex.gz